/* ------------- root variables ------------ */
:root {
  /* font-family */
  --body-font: "Montserrat", sans-serif;
  --heading-font-1: "Sacramento", cursive;
  --heading-font-2: "Anek Telugu", sans-serif;
  /* font-size */
  --h1-size: 7.5rem;
  --h2-size: 3.5rem;
  --h3-size: 2.5rem;
  --h4-size: 1.7rem;
  --h5-size: 1.4rem;
  --h6-size: 1.2rem;
  /* color */
  --dirty-white: #fcf6ee;
  --text-dark: #40514e;
  --bg-dark: #272a2a;
  --bg-silver: #c0c0c0;
  /* width */
  --content-width: 900px;
}

/* ------------- general elements ------------ */
body {
  width: 100%;
  font-family: var(--body-font);
  margin: 0;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
}
h1 {
  font-family: var(--heading-font-1);
  color: var(--dirty-white);
  font-size: var(--h1-size);
  margin: 0;
  font-weight: 400;
  letter-spacing: -0.25px;
}
h2 {
  font-family: var(--heading-font-2);
  color: var(--dirty-white);
  margin: 0;
  font-size: var(--h2-size);
}
h3 {
  font-family: var(--heading-font-2);
  text-transform: uppercase;
  font-size: var(--h3-size);
  margin: 0;
  letter-spacing: 1.5px;
}
h4 {
  font-family: var(--heading-font-2);
  font-size: var(--h4-size);
  margin: 0;
  letter-spacing: 0.25px;
}
h5 {
  font-family: var(--heading-font-2);
  font-size: var(--h6-size);
  margin: 0;
}
hr {
  margin: 0 auto;
  border-style: none;
  border-top-style: dotted;
  border-width: 15px;
  border-color: var(--bg-silver);
  width: 8%;
}
hr:hover {
  border-color: #9e9d9d;
}

/* ------------- custom layout ------------ */
.two-col {
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-container {
  width: 100%;
  max-width: var(--content-width);
  box-sizing: border-box;
}

/* ------------- navbar style ------------ */
#navbar {
  width: 100%;
  background-color: var(--bg-dark);
  color: var(--dirty-white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px 30px;
}
#web-logo {
  margin: 0;
  font-size: 2rem;
  font-family: "Sacramento", cursive;
  font-weight: 700;
  cursor: pointer;
  text-decoration: none;
  color: var(--dirty-white);
}
#nav-drawer {
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 0 0 0 0;
}
#nav-drawer a {
  text-decoration: none;
  color: var(--dirty-white);
  margin: 0 10px;
  padding: 5px 20px;
  border-radius: 7px;
  transition: all 0.3s ease-out;
}
#nav-drawer a:hover {
  background-color: var(--bg-silver);
  color: var(--bg-dark);
}
#nav-drawer #active {
  background-color: var(--bg-silver);
  color: var(--bg-dark);
}
#hamburger {
  cursor: pointer;
  display: none;
}
.bar1,
.bar2,
.bar3 {
  width: 36px;
  height: 4px;
  background-color: var(--dirty-white);
  margin: 2px 0;
  border-radius: 10px;
}
/* mobile nav */
#mobile-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 110px;
  height: 100vh;
  background-color: var(--bg-dark);
  position: fixed;
  z-index: 2;
  top: 0;
  right: -160px;
  transition: transform 0.5s ease-out;
}
#mobile-nav > a {
  color: var(--dirty-white);
  margin: 16px 0;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 20px;
  border-radius: 7px;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
}
#mobile-nav > a:hover {
  background-color: var(--bg-silver);
  color: var(--bg-dark);
}
.open-mobile-nav {
  transform: translateX(-160px);
}

/* ------------- home container ------------ */
#home-con {
  width: 100%;
  height: 100vh;
  position: relative;
  box-sizing: border-box;
}
#bg-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: blur(2px) brightness(0.6) contrast(95%) saturate(130%);
}
.profile-con {
  width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  gap: 0 50px;
}
#profile-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  filter: saturate(130%) contrast(105%);
}
.profile-con h2 {
  padding: 0 0 0 100px;
}
.profile-con h2 span {
  text-decoration: underline;
}

/* ------------- about section ------------ */
#about-section {
  margin: 100px 0;
  display: flex;
  justify-content: center;
}
#about-section p {
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: justify;
  color: var(--text-dark);
}

/* ------------- skills section ------------ */
#skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
  box-sizing: border-box;
}
#grid-con {
  margin: 30px 0 50px;
  width: 100%;
  max-width: 580px;
  display: grid;
  grid-template-areas:
    "python js dj"
    "html css bs";
  gap: 16px;
}
#python {
  grid-area: python;
}
#javascript {
  grid-area: js;
}
#django {
  grid-area: dj;
}
#html {
  grid-area: html;
}
#css {
  grid-area: css;
}
#bootstrap {
  grid-area: bs;
}
.proficiency {
  width: 150px;
  position: relative;
  place-self: center;
}
.proficiency img {
  width: 98%;
  height: 98%;
}
.overlay {
  color: var(--dirty-white);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  user-select: none;
  transition: all 0.4s ease-out;
}
.overlay:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.441);
  border-radius: 10px;
}
.web-dev-con.two-col,
.python-dev-con.two-col,
.kfc-con.two-col {
  gap: 0 30px;
  margin: 50px 0 0;
}
.web-dev-con img {
  width: 280px;
  height: 170px;
}
.web-dev-con p {
  font-size: 0.95rem;
  line-height: 1.4;
  letter-spacing: 0.6px;
  color: var(--text-dark);
}
.python-dev-con img {
  width: 280px;
  height: 180px;
}
.python-dev-con p {
  font-size: 0.95rem;
  line-height: 1.4;
  letter-spacing: 0.6px;
  color: var(--text-dark);
}
.kfc-con img {
  width: 280px;
  height: 180px;
}
.kfc-con p {
  font-size: 0.95rem;
  line-height: 1.4;
  letter-spacing: 0.6px;
  color: var(--text-dark);
}

/* ------------- work section ------------ */
#carousel-section {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 0;
}
#carousel-section > h3 {
  margin: 0 0 20px;
}
.slides-con {
  position: relative;
  border-radius: 20px;
}
.slide {
  box-sizing: border-box;
  display: none;
  text-align: center;
  border-radius: 20px;
  height: auto;
  padding: 10px 0 25px;
  background: linear-gradient(#485563, #29323c);
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.7);
}
.slide > img {
  width: 300px;
  height: 225px;
  border-radius: 20px;
}
.slide > h4 {
  font-size: 1.1rem;
  margin: 20px 0 10px;
  color: var(--dirty-white);
}
.slide > p {
  width: 50%;
  margin: 0 auto;
  font-size: 0.95rem;
  color: var(--text-dark);
  letter-spacing: 0.4px;
  background-color: #fff;
  padding: 5px;
  border-radius: 20px 15px;
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}
.prev,
.next {
  position: absolute;
  color: var(--dirty-white);
  top: 48%;
  width: auto;
  font-size: 1.3rem;
  font-weight: 700;
  padding: 16px;
  border-radius: 5px 0 0 5px;
  user-select: none;
  transition: all 0.4s ease-out;
}
.next {
  right: 0;
  border-radius: 0 5px 5px 0;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
#dot-con {
  margin: 5px 0 0;
  transform: translateY(-25px);
}
.dot {
  display: inline-block;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  transition: all 0.3s ease-out;
}
.active,
.dot:hover {
  cursor: pointer;
  background-color: #717171;
}
.fade {
  animation: 2.5s ease-out fade;
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

/* ------------- quotes section ------------ */
#quotes-section {
  box-sizing: border-box;
  margin: 100px 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#quotes-section > h3 {
  margin: 0 0 20px;
}
#quotes-con {
  width: 100%;
  max-width: 1100px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}
#quotes-con img {
  width: 100%;
  height: 200px;
  place-self: center;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.7);
  transition: all 0.5s ease-out;
}
#quotes-con img:hover {
  transform: scale(1.4) translateY(-40px);
}

/* ------------- footer container ------------ */
#footer {
  background-color: var(--bg-dark);
  color: var(--dirty-white);
  display: flex;
  flex-direction: column;
  align-items: center;
}
#footer > h5 {
  margin: 20px 0 0;
}
#icons-con {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 250px;
  padding: 0 0 0 0;
}
#footer ul a {
  text-decoration: none;
  color: var(--dirty-white);
  font-size: 1.7rem;
  transition: all 0.3s ease-out;
}
#footer ul a:hover {
  transform: scale(1.25);
  color: var(--bg-silver);
}
#footer-link {
  color: var(--dirty-white);
  transition: color 0.3s ease-out;
}
#footer-link:hover {
  color: rgb(202, 97, 97);
}

/* ------------- responsiveness ------------ */
@media only screen and (max-width: 900px) {
  /* ------------- root variables ------------ */
  :root {
    /* font-size */
    --h1-size: 4.5rem;
    --h2-size: 2.5rem;
  }

  /* ------------- home container ------------ */
  #profile-img {
    width: 250px;
    height: 250px;
  }

  /* ------------- about section ------------ */
  #about-section .section-container {
    padding: 0 16px;
  }

  /* ------------- skills section ------------ */
  .web-dev-con.two-col,
  .python-dev-con.two-col,
  .kfc-con.two-col {
    padding: 0 16px;
  }

  /* ------------- work section ------------ */
  #carousel-section {
    padding: 0 16px;
  }

  /* ------------- quotes section ------------ */
  #quotes-section {
    padding: 0 16px;
  }
}

/* tablet size */
@media only screen and (max-width: 768px) {
  /* ------------- root variables ------------ */
  :root {
    /* font-size */
    --h1-size: 4rem;
    --h2-size: 2rem;
  }
  /* ------------- navbar style ------------ */
  #navbar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
  }
  #hamburger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #nav-drawer {
    display: none;
  }

  /* ------------- home container ------------ */
  #home-con {
    margin-top: 45px;
  }
  .profile-con.two-col {
    flex-direction: column;
  }
  #profile-img {
    width: 230px;
    height: 230px;
    margin-top: 80px;
  }
  h1 {
    margin-top: 50px;
  }

  /* ------------- skills section ------------ */
  #grid-con {
    grid-template-areas:
      "python js"
      "html css"
      "dj bs";
  }
  .web-dev-con.two-col,
  .python-dev-con.two-col,
  .kfc-con.two-col {
    gap: 0;
    flex-direction: column;
    align-items: start;
  }
  .python-dev-con.two-col {
    flex-direction: column-reverse;
  }
  .web-dev-con h4,
  .python-dev-con h4,
  .kfc-con h4 {
    margin-top: 30px;
  }

  /* ------------- quotes section ------------ */
  #quotes-con {
    grid-template-columns: 1fr 1fr;
  }
  #quotes-con img:hover {
    transform: translateY(-40px);
  }
}

/* mobile size */
@media only screen and (max-width: 568px) {
  /* ------------- root variables ------------ */
  :root {
    /* font-size */
    --h3-size: 1.7rem;
    --h4-size: 1.3rem;
  }

  /* ------------- navbar style ------------ */
  #navbar {
    padding-left: 10px;
    padding-right: 10px;
  }

  /* ------------- home container ------------ */
  #profile-img {
    width: 200px;
    height: 200px;
  }

  /* ------------- about section ------------ */
  #about-section {
    margin: 50px 0;
  }
  #about-section p {
    font-size: 0.9rem;
  }

  /* ------------- skills section ------------ */
  #skills-section {
    margin: 50px 0;
  }
  .proficiency {
    width: 110px;
  }
  .web-dev-con p,
  .python-dev-con p,
  .kfc-con p {
    font-size: 0.9rem;
  }

  /* ------------- work section ------------ */
  #carousel-section {
    margin: 50px 0;
  }
  .slide > img {
    width: 80%;
  }
  .slide > p {
    font-size: 0.8rem;
    width: 80%;
  }

  /* ------------- quotes section ------------ */
  #quotes-section {
    margin-top: 50px;
  }

  /* ------------- quotes section ------------ */
  #quotes-con {
    grid-template-columns: 1fr;
  }
  /* ------------- footer container ------------ */
  #footer > h5 {
    width: 90%;
    text-align: center;
  }
  #footer > p {
    text-align: center;
  }
}

/* ------------- animations ------------ */
.animatebar1 {
  animation: flipBar1 0.5s ease-out forwards;
}
.animatebar2 {
  animation: fadebar 0.5s ease-out forwards;
}
.animatebar3 {
  animation: flipBar3 0.5s ease-out forwards;
}

@keyframes fadebar {
  from {
    opacity: 1;
    transform: scaleX(1);
  }
  to {
    opacity: 0;
    transform: scaleX(0);
  }
}
@keyframes flipBar1 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(45deg) translate(4px, 7.5px);
  }
}
@keyframes flipBar3 {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-45deg) translate(4px, -7.5px);
  }
}
